*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-container{
    width: 99%;
    margin: 0 auto;
}
/* FAQS STYLING */
.faqs-container{
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
}